/* CSS Document */
#global_menu.main {
	background:none;
	height:550px;
	
}
#global_menu.main .global { position:relative; overflow:hidden; }
#slider { width: 100%; min-width: 1200px; margin: 0 auto; position: relative; height: 550px;}
#slider .slides_jpg1 {
	background-color: #9ABBC2;
	background-image: url(../images/theme_1.jpg);
	background-repeat: no-repeat;
	background-position: 50% top;
}
#slider .slides_jpg2 {
	background-color: #090D18;
	background-image: url(../images/theme_2.jpg);
	background-repeat: no-repeat;
	background-position: 50% top;
}
#slider .slides_jpg3 {
	background-color: #FDDF5D;
	background-image: url(../images/theme_3.jpg);
	background-repeat: no-repeat;
	background-position: 50% top;
}
#slider .slides_jpg4 {
	background-color: #26211D;
	background-image: url(../images/theme_4.jpg);
	background-repeat: no-repeat;
	background-position: 50% top;
}
#slider .slides_jpg5 {
	background-color: #38424B ;
	background-image: url(../images/theme_5.jpg);
	background-repeat: no-repeat;
	background-position: 50% top;
}

#navigation-wrapper .prev {
	display: block;
	font: 0px/0 serif;
	height: 73px;
	left: -70px;
	position: absolute;
	top: -313px;
	width: 37px;
	z-index: 50;
	cursor: pointer;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../images/btn_visual_prev2.png);
	background-repeat: no-repeat;
	background-position: left top;
}
#navigation-wrapper .next {
	display: block;
	font: 0px/0 serif;
	height: 73px;
	right: -70px;
	position: absolute;
	top: -313px;
	width: 37px;
	z-index: 50;
	cursor: pointer;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../images/btn_visual_next2.png);
	background-repeat: no-repeat;
	background-position: left top;
}
#slider{
	width: 1200px;
	height: 550px;
	overflow: hidden;
	position: relative;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.JS #slider{ width: 100%; min-width: 960px; margin:0;}
#items{
	width: 2000em;
	position: absolute;
	-moz-transform:rotateX( 0deg );
	-webkit-transform:rotateX( 0deg );
	left: -50%;
}
#items > div{ float: left;}
#items > div > div{
	width: 100%;
	height: 550px;
	overflow: hidden;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#navigation-wrapper{ display: none;}
.JS #navigation-wrapper{ display: block; width: 1200px; margin: 0 auto 0 auto; position: relative; z-index: 10;}
#navigation-wrapper li { cursor: pointer;}
#slider .theme_url{ width:1200px; height:550px; margin:0 auto;}

.container{text-align:center; padding-top:20px; padding-bottom:20px; line-height:200%;}